* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #f6e7c1;
  display: flex;
  justify-content: center;
  padding: 40px 20px;
}

img {
  width: 150px;
  display: block;
  margin: 0 auto 20px;
}

.menu {
  background: #b13b1d;
  width: 100%;
  max-width: 1000px;
  padding: 30px;
  border-radius: 20px;
  color: #fff;
}

.logo {
  text-align: center;
  font-size: 28px;
  font-weight: 700;
}

.title {
  text-align: center;
  margin-bottom: 30px;
  font-size: 22px;
  color: #ffd28a;
}

.grid {
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  background: #d4552d;
  padding: 20px;
  border-radius: 15px;
  margin: 10px auto;
  width: 99%;
}

.card h3 {
  background: #ff8c32;
  display: inline-block;
  padding: 6px 14px;
  border-radius: 20px;
  margin-bottom: 15px;
  font-size: 16px;
}

.card ul {
  list-style: none;
}

.card li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 14px;
}

.full {
  grid-column: 1 / -1;
}

.footer {
  margin-top: 30px;
  text-align: center;
}

.footer button {
  background: #ff8c32;
  border: none;
  padding: 12px 25px;
  border-radius: 25px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 10px;
}

.footer button:hover {
  background: #ffa14f;
}